.navigation {
  position: fixed;
  width: min(100%, 1240px);
  display: flex;
  flex-direction: column-reverse;
  background-color: var(--navigation-bg);

  padding: 1rem 3rem;
  border-radius: 7px;
  transform: translateY(-77%);
  transition: transform 300ms ease-in-out;
  z-index: 4;
}

.navigation-table {
  transition: all 300ms ease;
  display: flex;
  flex-direction: column;
}
.navigation-table > a {
  display: block;
  font-size: 2.2rem;
  text-transform: uppercase;
  position: relative;
  margin: 0.5rem 0;
}
.navigation-table > a::after {
  position: absolute;
  display: inline-block;
  content: "";
  bottom: 0;
  left: 0;
  width: 15px;
  height: 1px;
  background-color: var(--primary);
  transition: width 300ms ease-in-out;
}
.navigation-table > a:hover::after {
  width: 100%;
}

#hamburger,
#hamburger ~ label {
  position: fixed;
  top: 0.5rem;
  right: 5rem;
  width: 3rem;
  height: 3rem;
  z-index: 5;
}

#hamburger {
  opacity: 0;
}
.navigation-active {
  transform: translateY(0);
}

@media screen and (min-width: 800px) {
  .navigation > input,
  .navigation > label {
    display: none;
  }
  .navigation {
    flex-direction: row;
    justify-content: space-between;
    left: 50%;
    transform: translate(-50%, 0);
    margin: auto;
  }
  .navigation-table {
    flex-direction: row;
    gap: 2rem;
  }
  #hamburger,
  #hamburger ~ label {
    display: none;
  }
}
