
.ours{
    background-color: var(--second);
    padding: 10rem 1rem 18rem;
    position: relative;
    

}
.ours >img{
    position: absolute;
    bottom: -10rem;
    right: 0;
    z-index: 1;
}


.ours h2{
position: absolute;
top: 0.5rem;
left: 50%;
transform: translateX(-50%);
color: white;
width: 100%;

}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 38rem);
    overflow-x: auto;
    margin: 0 4rem ;
    scroll-snap-type: x mandatory;
    height:38rem ;

}
.cards::-webkit-scrollbar {
    width: 0;
}
.cards::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
  }
  
.ours-cards{
    scroll-snap-align: start;
    height: 35rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    z-index: 2;
}
.ours-cards >img{
  flex-basis: 10rem;
  width: 20rem;

  flex-shrink: 0;
  background-color: white;
}
.ours-cards >.text-wrapper{
    background-color: var( --card-bg);
    border-radius: 15px;
}

@media screen  and (min-width:800px) {
    .ours-cards:last-of-type{
       flex-direction: row;
       grid-row: 2/3;
       grid-column: 1/3;
       width: 60rem;
    }
}
@media screen  and (min-width:800px) {
    .cards{
      margin: 0;

    }
    .ours-cards:last-of-type{
       flex-direction: column;
       grid-row: 1/2;
       grid-column: 3/4;
       width: 30rem;
    }
    .ours >img{
       right: -10rem;
    }
}