

.product{
    position: relative;
    background:url(/public/images/notesPna/note-pan.png) no-repeat;
    background-position:100% 100% ;
    padding-top: 5rem;
    padding-bottom: 6rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem , 1fr));
    row-gap: 2rem;
    align-items: canter;
    overflow-x: hidden;

}
.product h2{
    position: absolute;
    top: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    color: var(--second);
}
.product-cards{
    width: 35rem;
    height: 25rem;
    background-color: var(--card-bg);
}

