.vision{
    background-color: var(--second);
    position: relative;
    padding-top: 15rem;
    padding-bottom: 20rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,40rem);
    align-items: center;
    row-gap: 3rem;

}

.vision-card{
    width: 38rem;
    height: 25rem;
    padding: 0.5rem 1rem;
    background-color: var(--card-bg);
    border-radius: 15px;
    z-index: 2;
    margin: auto;
    grid-column: 1/3;
}
.vision-card h3{
    color: white;
}



.vision>img:first-child,
.vision>img:last-child{
    position: absolute;
    z-index: 1;
}
.vision>img:first-child{
    top: 0.1rem;
    border-radius: 15px;
    left: 50%;
    transform: translateX(-50%);
}
.vision>img:last-child{
    bottom: 0;

}

@media screen and (min-width:800px) {
    .vision{
        padding-top: 4rem;
        padding-bottom: 14rem;
    }
    .vision>img:first-child{
        width: 50rem;
    }
    .vision-card:first-of-type{
        grid-column: 1/2;
    }
    .vision-card:last-of-type{
        grid-column: 2/3;
    }
    .vision>img:last-child{
        left: 50%;
    }
}
@media screen and (min-width:1200px) {
    .vision{
        padding-top: 30rem;
        padding-bottom: 0;
        row-gap: 0;
    }
    .vision>img:first-child{
        width: 60rem;
    }
    .vision-card:first-of-type{
        grid-column: 1/3;
        grid-row: 1/2;

    }
    .vision-card:last-of-type{
        grid-column: 1/3;
        grid-row: 2/3;

    }
    .vision>img:last-child{
        left: 0;
        bottom: -35rem;
    }
}
